<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wesine.dao.EventMapper">

	<insert id="insertEventForMany" parameterType="java.util.List">
		<selectKey resultType="String" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into events
		(id, status, result, date,TransID,RegID,PictureUrl0,CashierID)
		values
		<foreach collection="list" item="event" index="index"
			separator=",">
			(
			#{event.id},#{event.status},#{event.result},#{event.date},#{event.TransID},#{event.RegID}
			,#{event.PictureUrl0},#{event.CashierID}
			)
		</foreach>
	</insert>

	<select id="selectEventThisMonth" parameterType="java.util.Map"
		resultType="java.util.Map">

         SELECT e.comment ,e.productName,e.money, e.VideoUrl, e.CashierID ,e.PictureUrl0,  e.id ,e.status,e.result,date_format(e.date,'%Y/%m/%d %H:%i:%s') date,e.TransID
		,c.name as counterName from events e LEFT JOIN counters c ON e.RegID=c.id LEFT JOIN 
		shops s ON c.shopId=s.id LEFT JOIN areas a 
 		ON s.areaId=a.id  where s.areaId=#{areaID} and 
 		date_format(e.date,'%Y-%m')=date_format(now(),'%Y-%m')
 		

	</select>
	
	<select id="selectEventThisWeek" parameterType="java.util.Map"
		resultType="java.util.Map">

         SELECT e.comment ,e.productName,e.money, e.VideoUrl, e.CashierID ,e.PictureUrl0,  e.id ,e.status,e.result,date_format(e.date,'%Y/%m/%d %H:%i:%s') date,e.TransID
		,c.name as counterName from events e LEFT JOIN counters c ON e.RegID=c.id LEFT JOIN 
		shops s ON c.shopId=s.id LEFT JOIN areas a 
 		ON s.areaId=a.id  where s.areaId=#{areaID} and YEARWEEK(date_format(e.date,'%Y-%m-%d'))
 		 =YEARWEEK(now())
 		

	</select>
	
	<select id="selectEventThisDay" parameterType="java.util.Map"
		resultType="java.util.Map">

         SELECT e.comment ,e.productName,e.money, e.VideoUrl, e.CashierID ,e.PictureUrl0,  e.id ,e.status,e.result,date_format(e.date,'%Y/%m/%d %H:%i:%s') date,e.TransID
		,c.name as counterName from events e LEFT JOIN counters c ON e.RegID=c.id LEFT JOIN 
		shops s ON c.shopId=s.id LEFT JOIN areas a 
 		ON s.areaId=a.id   where s.areaId=#{areaID} and to_days(e.date)
 		 =to_days(now()) 
 		 
	</select>
	
	<!-- 根据该天日期统计该天事件次数 区域经理 -->
	<select id="countEventThisDay" parameterType="java.util.Map" resultType="java.lang.Integer" >

         SELECT count(e.id) from events e LEFT JOIN counters c ON e.RegID=c.id LEFT JOIN 
		shops s ON c.shopId=s.id LEFT JOIN areas a 
 		ON s.areaId=a.id   where s.areaId=#{areaID} and to_days(e.date)
 		 =to_days(#{weekDate}) 
 		 
	</select>  
	
	<!-- 根据该天日期统计该天事件次数防损经理 -->
	<select id="countEventThisDayForFsjl" parameterType="java.util.Map" resultType="java.lang.Integer" >

         SELECT count(e.id) from events e LEFT JOIN counters c ON e.RegID=c.id LEFT JOIN 
		shops s ON c.shopId=s.id  where s.id=#{shopId} and to_days(e.date)
 		 =to_days(#{weekDate}) 
 		 
	</select>
	
	<!-- 根据该天日期统计该天24小时事件次数 区域经理 -->
	<select id="countEventThisHour" parameterType="java.util.Map" resultType="java.lang.Integer" >

         SELECT count(e.id) from events e LEFT JOIN counters c ON e.RegID=c.id LEFT JOIN 
		shops s ON c.shopId=s.id LEFT JOIN areas a 
 		ON s.areaId=a.id   where s.areaId=#{areaID} and hour(e.date)
 		 =hour(#{weekHour}) 
 		 
	</select>
	
	<!-- 根据该天日期统计该天事件次数 防损经理 -->
	<select id="countEventThisDay2" parameterType="java.util.Map" resultType="java.lang.Integer" >
         SELECT count(e.id) from events e LEFT JOIN counters c ON e.RegID=c.id LEFT JOIN 
		shops s ON c.shopId=s.id    where s.id=#{shopID} and to_days(e.date)
 		 =to_days(#{weekDate}) 
	</select>
	
	<!-- 根据该天日期统计该天事件次数 防损员 -->
	<select id="countEventThisDay3" parameterType="java.util.Map" resultType="java.lang.Integer" >
        SELECT count(e.id) from events e ,counters c,user_counter usc,users u where e.RegID=c.id AND
 c.id=usc.counterId AND usc.userId=u.id and u.id=#{usrID} and to_days(e.date)
 		 =to_days(#{weekDate}) 
	</select>
	
	
	<select id="selectEventByStatus" parameterType="java.util.Map"
		resultType="java.util.Map">

         SELECT e.comment ,e.productName,e.money,e.VideoUrl, e.CashierID ,e.PictureUrl0,  e.id ,e.status,e.result,date_format(e.date,'%Y/%m/%d %H:%i:%s') as date,e.TransID
		,c.name as counterName from events e LEFT JOIN counters c ON e.RegID=c.id LEFT JOIN 
		shops s ON c.shopId=s.id LEFT JOIN areas a 
 		ON s.areaId=a.id  where s.areaId=#{areaID} and e.status=#{status}
 		

	</select>
	
	
	
	<select id="selectEventThisMonth2" parameterType="java.util.Map"
		resultType="java.util.Map">

        SELECT e.comment ,e.productName,e.money,e.VideoUrl, e.CashierID ,e.PictureUrl0,  e.id ,e.status,e.result,date_format(e.date,'%Y/%m/%d %H:%i:%s') date,e.TransID
		,c.name as counterName from events e LEFT JOIN counters c ON e.RegID=c.id LEFT JOIN shops
         s ON c.shopId=s.id   where c.shopID=#{shopID} and 
 		date_format(e.date,'%Y-%m')=date_format(now(),'%Y-%m')
 		

	</select>
	
	<select id="selectEventThisWeek2" parameterType="java.util.Map"
		resultType="java.util.Map">

         SELECT e.comment ,e.productName,e.money,e.VideoUrl, e.CashierID ,e.PictureUrl0,  e.id ,e.status,e.result,date_format(e.date,'%Y/%m/%d %H:%i:%s') date,e.TransID
		,c.name as counterName from events e LEFT JOIN counters c ON e.RegID=c.id LEFT JOIN shops
         s ON c.shopId=s.id   where c.shopID=#{shopID} and YEARWEEK(date_format(e.date,'%Y-%m-%d'))
 		 =YEARWEEK(now())
 		

	</select>
	
	<select id="selectEventThisDay2" parameterType="java.util.Map"
		resultType="java.util.Map">

         SELECT e.comment ,e.productName,e.money,e.VideoUrl, e.CashierID ,e.PictureUrl0,  e.id ,e.status,e.result,date_format(e.date,'%Y/%m/%d %H:%i:%s') date,e.TransID
		,c.name as counterName from events e LEFT JOIN counters c ON e.RegID=c.id LEFT JOIN shops
         s ON c.shopId=s.id   where c.shopID=#{shopID} and to_days(e.date)
 		 =to_days(now()) 
 		 
	</select>
	
	
	<select id="selectEventByStatus2" parameterType="java.util.Map"
		resultType="java.util.Map">

         SELECT e.comment ,e.productName,e.money,e.VideoUrl, e.CashierID ,e.PictureUrl0,  e.id ,e.status,e.result,date_format(e.date,'%Y/%m/%d %H:%i:%s') as date,e.TransID
		,c.name as counterName from events e LEFT JOIN counters c ON e.RegID=c.id LEFT JOIN shops
         s ON c.shopId=s.id   where c.shopID=#{shopID} and e.status=#{status}
 		

	</select>
	
	
	
	<select id="selectEventThisMonth3" parameterType="java.util.Map"
		resultType="java.util.Map">

        SELECT e.comment ,e.productName,e.money,e.VideoUrl, e.CashierID ,e.PictureUrl0,  e.id ,e.status,e.result,date_format(e.date,'%Y/%m/%d %H:%i:%s') date,e.TransID
		,c.name as counterName from events e ,counters c,user_counter usc,users u where e.RegID=c.id AND
 c.id=usc.counterId AND usc.userId=u.id and u.id=#{usrID} and 
 		date_format(e.date,'%Y-%m')=date_format(now(),'%Y-%m')
 		

	</select>
	
	<select id="selectEventThisWeek3" parameterType="java.util.Map"
		resultType="java.util.Map">

         SELECT e.comment ,e.productName,e.money,e.VideoUrl, e.CashierID ,e.PictureUrl0,  e.id ,e.status,e.result,date_format(e.date,'%Y/%m/%d %H:%i:%s') date,e.TransID
		,c.name as counterName from events e ,counters c,user_counter usc,users u where e.RegID=c.id AND
 c.id=usc.counterId AND usc.userId=u.id and u.id=#{usrID} and YEARWEEK(date_format(e.date,'%Y-%m-%d'))
 		 =YEARWEEK(now())
 		

	</select>
	
	<select id="selectEventThisDay3" parameterType="java.util.Map"
		resultType="java.util.Map">

         SELECT e.comment ,e.productName,e.money,e.VideoUrl, e.CashierID ,e.PictureUrl0,  e.id ,e.status,e.result,date_format(e.date,'%Y/%m/%d %H:%i:%s') date,e.TransID
		,c.name as counterName from events e ,counters c,user_counter usc,users u where e.RegID=c.id AND
 c.id=usc.counterId AND usc.userId=u.id and u.id=#{usrID} and to_days(e.date)
 		 =to_days(now()) 
 		 
	</select>
	
	<!-- 完成事件查询 -->
	<select id="selectEventByStatus3" parameterType="java.util.Map"
		resultType="java.util.Map">

         SELECT e.comment ,e.productName,e.money,e.VideoUrl, e.CashierID ,e.PictureUrl0,  e.id ,e.status,e.result,date_format(e.date,'%Y/%m/%d %H:%i:%s') as date,e.TransID
		,c.name as counterName from events e ,counters c,user_counter usc,users u where e.RegID=c.id AND
 c.id=usc.counterId AND usc.userId=u.id and u.id=#{usrID} and e.status=#{status}
 		

	</select>
	
	<update id="updateById">
	
			UPDATE events
				 <trim prefix="set" suffixOverrides=",">
				  <if test="comment !=null">comment=#{comment},</if>
				  <if test="productName !=null">productName=#{productName},</if>
				  <if test="money !=null">money=#{money},</if>
				  <if test="result !=null">result=#{result},</if>
				  <if test="status !=null">status=#{status},</if>
				 </trim>
		 WHERE id=#{id}
	
	
	</update>
	
	<update id="updateEventTAT">
	
			UPDATE eventTAT
				 <trim prefix="set" suffixOverrides=",">
				  <if test="process_person_id !=null">process_person_id=#{process_person_id},</if>
				  <if test="actionTime !=null">actionTime=#{actionTime},</if>
				  <if test="endTime !=null">endTime=#{endTime},</if>
				 </trim>
		 WHERE event_id=#{event_id}
	
	
	</update>
	


</mapper>