<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>银线防损</title>
<script src="https://cdn.bootcss.com/mui/3.7.1/js/mui.min.js"></script>
<link href="https://cdn.bootcss.com/mui/3.7.1/css/mui.min.css"
	rel="stylesheet"></link>
<script src="https://cdn.bootcss.com/echarts/3.8.5/echarts.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>   

<style type="text/css">

/*toast信息提示*/
.mui-toast-container {bottom: 50% !important;}
.mui-toast-message {opacity: 0.6; color: #fff; width: 250px; padding: 10px 5px 10px 5px;font-size:20px;}

/*mui css */
.mui-card .mui-control-content {
				padding: 10px;
			}
			
.mui-control-content {
				height: 150px;
			}
.mui-segmented-control .mui-control-item.mui-active {
    color: white;
    background-color: #5D9CEC;
}
.mui-segmented-control .mui-control-item{
border-color: #5D9CEC;
}

/*  表格css */
.table {
				border: 1px solid #cad9ea;
				color: #666;
				
			}
			
			.table th {
				background-repeat: repeat-x;
				height: 30px;
			}
			
			.table td,
			.table th {
				border: 1px solid #cad9ea;
				padding: 0 1em 0;
				font-size:10px;
			}
			
			.table tr.alter {
				background-color: #f5fafe;
			}
			.table td{
				text-align: center;
			}

</style>


</head>
<body>
	<div id="app">
	
	<!-- <div style="position: fixed;top:0px;z-index: 9999;background-color: #FFFFFF;width: 100%;height: 800px;text-align: center;">
		<img  style="margin-top: 230px;"  alt="" src="http://localhost:8080/static/img/loading.gif">
	</div> -->
	
	
	<header class="mui-bar mui-bar-nav">
			<a v-on:tap="toMain" v-show="backBtn" style="color:black;" class="mui-icon mui-icon-left-nav mui-pull-left"></a>
			<a v-on:tap="{{opt=!opt}}" v-show="optBtn" style="color:black;" class="mui-action-menu mui-icon mui-icon-bars mui-pull-right"></a>
			<!--右上角弹出菜单-->
		
					<ul v-show="opt" id="topMenu" class="mui-table-view" style="width:30%;position: fixed;top: 45px;z-index:999;right: 0"  >
						<li class="mui-table-view-cell">
							<a v-on:tap="toShopPage($event)"   href="#">关联门店</a>
						</li>
						<!-- <li class="mui-table-view-cell"><a href="#">绑定所有</a>
						</li>
						<li class="mui-table-view-cell"><a href="#">解绑所有</a>
						</li> -->
					</ul> 
			<h1 class="mui-title" style="font-size:20px;font-weight: bold;">防损系统管理</h1>
		</header>
		
		<div v-show="mainPage" class="mui-content" style="background-color: #F8F8F8;">
		<center><h4>本日状况</h4></center>
		
			<ul class="mui-table-view mui-grid-view mui-grid-9 eventNum"
				style="background-color: #F8F8F8;">
				<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-3">
					<a href="#"> <span class="mui-icon" >{{clzNum}}</span>
						<p>处理中</p>
				</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-3">
					<a href="#"> <span class="mui-icon">{{ywcNum}}</span>
						<p>已完成</p>
				</a>
				</li>
			</ul>
			
			<!-- 防损事件图 -->
			<div id="eventChart" style="height: 250px;width:100%"></div>
			<!-- 事件差错图 -->
			<div id="echarts-scatter-chart" style="height: 250px;width:100%"></div>
			
			
			<div style="padding: 10px 10px;">
				<div id="segmentedControl" class="mui-segmented-control">
					<a class="mui-control-item" >收银员</a>
					<a class="mui-control-item" >防损员</a>
				</div>
				<div id="segmentedControl" class="mui-segmented-control" style="margin-top: 10px;">
					<a class="mui-control-item" >本周</a>
					<a class="mui-control-item" >本月</a>
					<a class="mui-control-item" >近三个月</a>
					<a class="mui-control-item" >近半年</a>
				</div>
			</div>
			
			<div>
				<div class="mui-control-content mui-active">
					<div id="scroll" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<table width="100%" style="height:100px; overflow:scroll;" class="table" id="">
								<tr>
									<th width=25%>收银员</th>
									<th width=25%>收银次数</th>
									<th width=25%>事件次数</th>
									<th width=25%>出错率</th>
								</tr>
								<tr>
									<td>12</td> 
									<td>12</td>
									<td>12</td> 
									<td>12</td>
								</tr>
								<tr>
									<td>12</td> 
									<td>12</td>
									<td>12</td> 
									<td>12</td>
								</tr>
								<tr>
									<td>12</td> 
									<td>12</td>
									<td>12</td> 
									<td>12</td>
								</tr>
								<tr>
									<td>12</td> 
									<td>12</td>
									<td>12</td> 
									<td>12</td>
								</tr>
							</table>
							
						</div>
					</div>
				</div>
				<div class="mui-control-content">
					<table width="100%" style="height:100px; overflow:scroll;" class="table" id="">
								<tr>
									<th width=20%>防损员</th>
									<th width=20%>事件次数</th>
									<th width=20%>三分钟内</th>
									<th width=20%>五分钟内</th>
									<th width=20%>五分钟以上</th>
								</tr>
								<tr>
									<td>12</td> 
									<td>12</td>
									<td>12</td> 
									<td>12</td>
									<td>12</td>
								</tr>
								<tr>
									<td>12</td> 
									<td>12</td>
									<td>12</td> 
									<td>12</td>
									<td>12</td>
								</tr>
								<tr>
									<td>12</td> 
									<td>12</td>
									<td>12</td> 
									<td>12</td>
									<td>12</td>
								</tr>
								<tr>
									<td>12</td> 
									<td>12</td>
									<td>12</td> 
									<td>12</td>
									<td>12</td>
								</tr>
								<tr>
									<td>12</td> 
									<td>12</td>
									<td>12</td> 
									<td>12</td>
									<td>12</td>
								</tr>
								<tr>
									<td>12</td> 
									<td>12</td>
									<td>12</td> 
									<td>12</td>
									<td>12</td>
								</tr>
							</table>
				</div>
				
			</div>
			
			
		</div>
	
	
	<div v-show="shopPage" class="mui-content" style="background-color: #F8F8F8;">
<!-- 门店关联页 -->
<div style="" class="mui-card">
				<form class="mui-input-group">
					<div v-for="shop in shopList" class="mui-input-row mui-checkbox" style="height: 50px;">
						<!-- <label :for="shop.id" style="line-height: 2.0;text-align: justify;">ID:{{shop.id}}名称:{{shop.name}}</label>
						<input :id="shop.id" style="font-size: 40px;line-height:0.8 ;"  :value="shop.id" type="checkbox" v-model=""  ></input> -->
					<label :for="shop.id" style="line-height: 2.0;text-align: justify;">ID:{{shop.id}}名称:{{shop.name}}</label>
					<input :id="shop.id" style="font-size: 40px;line-height:0.8 ;"  :value="shop.id" type="checkbox" v-model="chooseShop"></input>
					</div>
					
					<!-- <div>{{chooseShop}}</div> -->
					<!--  <div class="mui-input-row mui-checkbox">
						{{counterPicked}}
					</div> -->
					<!--<div class="mui-input-row mui-checkbox mui-disabled">
						<label>disabled checkbox</label>
						<input name="checkbox1" type="checkbox" disabled="disabled"></input>
					</div> -->
				</form>
			</div>
			<button v-on:tap="saveShop"  type="button" class="mui-btn mui-btn-primary mui-btn-block " style="position: fixed;bottom:0px;margin-bottom: 0px;">保存</button>
</div>
	

	</div><!-- end  div -->
<script type="text/javascript" charset="utf-8">

function getQueryString(name) { 
	var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i"); 
	var r = window.location.search.substr(1).match(reg); 
	if (r != null) return unescape(r[2]); return null; 
} 

//alert(getQueryString("usrID"));
const serverPath=getQueryString("serverPath");//获取服务端ip和端口号
var usrID=getQueryString("usrID");
var roleId=getQueryString("roleId");
var shopID=getQueryString("shopID");
var areaID=getQueryString("areaID");
var usrName=getQueryString("usrName");

//单页面vue实例
var app = new Vue({
	el : '#app',
	data : {
		roleId : '',
		shopID : '',
		areaID : '',
		usrName : '',
		usrID:'',
		
		
		eventsStatus0:[],//未处理事件
		eventsStatus1:[],//暂存事件
		eventsStatus2:[],//完成事件
		eventsForThisWeek:[],//按周统计
		eventsForThisDay:[],//按日统计
		eventsForThisMonth:[],//按月统计
		eventPercentGraphData:[],//差错图数据
		
		clzNum:0,
		ywcNum:0,
		
		shopList:[],//区域关联门店列表
		
		shopPage : false,//门店列表页面
		mainPage : true,//单页面应用主页
		
		opt : false,//右上角菜单列表
		backBtn : false,//返回按钮
		optBtn : true,//右上角菜单按钮
		
		chooseShop:[],//被选中的商店
		
		
		
		},
		methods:{
			loadUserInfo : function(){//将区域经理信息通过ajax加载到页面中来
				this.roleId=roleId;
				this.shopID=shopID; 
				this.areaID=areaID;
				this.usrName=usrName;
				this.usrID=usrID;
				
				console.log("---login action---\nusrID:"+this.usrID+"\nareaID:"+this.areaID+"\nusrName:"+
						this.usrName+"\nshopID:"+this.shopID+"\nroleId:"+this.roleId+"\n---end---")
			},
			loadEventCount : function() {
				var _self=this;
				//alert('test')
				var startTime=new Date().getTime();
				var endTime;
				mui.ajax({
                    url : serverPath+"/getEventData",
                    type : 'get',
                    headers: {
                       'Content-Type': 'application/x-www-form-urlencoded'
                  },
                    data : { 
                    	"areaID" : this.areaID ,
                    	"usrName" : this.usrName ,
                    	"usrID" : this.usrID ,
                    	"shopID" : this.shopID ,
                    	"roleId" : this.roleId ,
                    	
                    }, 
                    timeout : 10000,
                    success : function(data){ 
                    	endTime=new Date().getTime();
                    	mui.toast('延迟:'+(parseInt(endTime)-parseInt(startTime))+'ms');
                        //var result = eval('('+ data +')');    //js原生方法解析json字符串为json对象
                    	//vue.data  load  data
                        _self.eventsStatus0=data.eventsStatus0;
                    	_self.eventsStatus1=data.eventsStatus1;
                    	_self.eventsStatus2=data.eventsStatus2;
                    	//图标  按时间统计数据
                    	_self.eventsForThisWeek=data.eventsForThisWeek;
                    	_self.eventsForThisDay=data.eventsForThisDay;
                    	_self.eventsForThisMonth=data.eventsForThisMonth;
                    	//差错图数据
                    	_self.eventPercentGraphData=data.eventPercentGraphData;
                    	
                    	//计算处理中和已完成事件件数
                    	_self.clzNum=_self.eventsStatus0.length+_self.eventsStatus1.length;
                    	_self.ywcNum=_self.eventsStatus2.length;
                    	
                    	
                    	//如果是防损员及 roleId=1 时  判断是否关联款台（本月）
                    	if(data.status==="2"){
                    		//提示关联款台
                    		var btnArray = ['否', '是'];

                			mui.confirm('是否现在去关联款台？', '未关联款台', btnArray, function(e) {

                    		if (e.index == 1) {
                        	//去关联款台

                        	
                        	
                    		} else {
                    		//不去关联款台
                    		
                    		
			                       	
			                }
			
			                })
                    	}
                    	
                    	//mui.toast("欢迎使用微晟防损管理系统")
                    	//mui.alert("欢迎使用微晟防损管理系统")
                    	
                    	 console.log('未处理：'+_self.eventsStatus0.length+'\n暂存：'+_self.eventsStatus1.length+
                    			'\n完成：'+_self.eventsStatus2.length) 
                    	
                    },
                    error : function(xhr,type,errorThrown){
                    	endTime=new Date().getTime();
                    	mui.toast('延迟:'+(parseInt(endTime)-parseInt(startTime))+'ms');
                        console.log(xhr);
                        console.log(type);
                        console.log(errorThrown);
                    }
      		});

		},
		loadShopList : function(){//根据区域id加载关联门店id
			
			var _self=this;
			
			mui.ajax({
				url : serverPath+"/getShopListByAreaId/"+this.areaID+"/"+this.usrID,
                type : 'get',
                headers: {
                   'Content-Type': 'application/x-www-form-urlencoded'
              },
              timeout : 10000,
              success : function(data){
              	if(data.status==0){
              		_self.shopList=data.shopList;
              		console.log('关联门店数量：'+_self.shopList.length);
              		//渲染到html中
              		
              	}else{
              		mui.toast('门店数据请求失败！');
              	}
              	
              },
              error : function(xhr,type,errorThrown){
                  console.log(xhr);
                  console.log(type);
                  console.log(errorThrown);
              }
			});
			
		},
		toShopPage :function(event){
			//event.cancelBubble = true;
			var _self=this;
			mui.toast('保存后才会生效哦！')
			var t;
			t = setTimeout(function (){
				
				_self.mainPage=false;
				_self.shopPage=true;
				_self.opt=false;
				_self.backBtn=true;
				_self.optBtn=false;
				console.log(_self.chooseShop);
				_self.chooseShop=[];
				
				
			}, 100); 
			
			//mui.toast(this.chooseShop)
		},
		toMain : function(){
			this.mainPage=true;
			this.shopPage=false;
			this.backBtn=false;
			this.optBtn=true;
		},
		saveShop:function(){
			this.toMain();
			var t;
			t=setTimeout(function(){
				mui.toast('保存成功！')
			},500)
			
		},
			
		},//method   end>>>>>>>>
		mounted:function(){
			this.loadUserInfo();
			this.loadEventCount();
			this.loadShopList();
		},
	});
	
	
//防损事件echarts
function eventEcharts(){
var eventChart = echarts.init(document.getElementById('eventChart'));

	var option = {
		title : {
			text : '防损事件',
			show : true,
			textStyle : {
				fontWeight : 'normal',
				fontSize : 15,
			}
		},
		tooltip : {
			trigger : 'axis'
		},
		legend : {
			data : [ '防损事件' ],
			show : false
		},
		grid : {
			left : '3%',
			right : '4%',
			bottom : '3%',
			containLabel : true,
			show : true
		},
		toolbox : {
			itemSize : 25,
			feature : {
				myTool1 : {
					show : true,
					title : '按月统计',
					icon : 'image://http://111.231.76.125:8080/static/img/月.svg',
					onclick : function() {
						//							alert('myToolHandler1')
						option.series[0].data=app.eventsForThisMonth;
						
						var date = new Date();
					     var year = date.getFullYear();
					     var month = date.getMonth()+1;
					     var d = new Date(year, month, 0);
					     var monthNum =d.getDate();
						
					     option.xAxis.data=[];
					     
					     for(var i=0;i<monthNum;i++){
					    	 var temp=(i+1)+'日';
					    	 option.xAxis.data.push(temp);
					     }
						
						
						eventChart.setOption(option);
					}
				},
				myTool2 : {
					show : true,
					title : '按周统计',
					icon : 'image://http://111.231.76.125:8080/static/img/周.svg',
					onclick : function() {
						//							alert('myToolHandler2')
						option.series[0].data=app.eventsForThisWeek;
						option.xAxis.data=[ '周一', '周二', '周三', '周四', '周五', '周六', '周日' ];
						eventChart.setOption(option);
					}
				},
				myTool3 : {
					show : true,
					title : '按日统计',
					icon : 'image://http://111.231.76.125:8080/static/img/日.svg',
					onclick : function() {
						//							alert('按日统计')
						option.series[0].data=app.eventsForThisDay;
						option.xAxis.data=['00时', '01时', '02时', '03时', '04时', '05时'
							, '06时', '07时', '08时', '09时', '10时', '11时'
							, '12时', '13时', '14时', '15时', '16时', '17时'
							, '18时', '19时', '20时', '21时', '22时', '23时'];
						eventChart.setOption(option);
					}
				}
			},

		},
		xAxis : {
			type : 'category',
			boundaryGap : false,
			data : [ '周一', '周二', '周三', '周四', '周五', '周六', '周日' ]
		},
		yAxis : [
	        {
	            type : 'value',
	            scale:true,
	            axisLabel : {
	                formatter: '{value} 次'
	            }
	        }
	    ],
		series : [ {
			name : '防损事件',
			type : 'line',
			stack : '总量', 
			data : [ 0, 0, 0, 0, 0, 0, 0 ]
		} ]
	};
	
	
	
	var t;//一个bug暂时这么解决一下
	t = setTimeout(function (){
option.series[0].data=app.eventsForThisMonth;
		
		var date = new Date();
	     var year = date.getFullYear();
	     var month = date.getMonth()+1;
	     var d = new Date(year, month, 0);
	     var monthNum =d.getDate();
		
	     option.xAxis.data=[];
	     
	     for(var i=0;i<monthNum;i++){
	    	 var temp=(i+1)+'日';
	    	 option.xAxis.data.push(temp);
	     }
		
		
		eventChart.setOption(option);
	}, 1000);
	
	
}

//事件差错图echarts
function scatterEcharts(){
	var scatterChart = echarts.init(document.getElementById("echarts-scatter-chart"));
	var scatteroption = {
	    title : {
	    	text : '差错率',
			show : true,
			textStyle : {
				fontWeight : 'normal',
				fontSize : 15,
			}
	    },
	    tooltip : {
	        trigger: 'axis',
	        showDelay : 0,
	        axisPointer:{
	            type : 'cross',
	            lineStyle: {
	                type : 'dashed',
	                width : 1
	            }
	        }
	    },
	    legend: {
	       
	    },
	    grid:{
	        x:45,
	        x2:40,
	        y2:24
	    },
	    xAxis : [
	        {
	            type : 'value',
	            scale:false, 
	           axisLabel : {
	                formatter: '{value}'
	            }  
	        }
	    ],
	    yAxis : [
	        {
	            type : 'value',
	            scale:true,
	            axisLabel : {
	                formatter: '{value} %'
	            }
	        }
	    ],
	    series : [
	        {
	            name:'差错率',
	            type:'scatter',
	            tooltip : {
	                trigger: 'item',
	                formatter : function (params) {
	                    if (params.value.length > 1) {
	                        return params.seriesName + ' :<br/>'
	                           + params.value[0] + '件 '
	                           + params.value[1] + '% ';
	                    }
	                    else {
	                        return params.seriesName + ' :<br/>'
	                           + params.name + ' : '
	                           + params.value + '% ';
	                    }
	                }
	            },
	            data: [[174, 65.6], [18700000, 78.8]
	            ],
	            markPoint : {
	                data : [
	                    {type : 'max', name: '最大值'},
	                    {type : 'min', name: '最小值'}
	                ]
	            },
	            markLine : {
	                data : [
	                    {type : 'average', name: '平均值'}
	                ]
	            }
	        }
	    ]
	};



		 var t;//一个bug暂时这么解决一下
			t = setTimeout(function (){
				scatteroption.series[0].data=app.eventPercentGraphData;
				scatterChart.setOption(scatteroption);
			}, 1000);
}


//



window.onload=function(){
	//alert(getQueryString("usrID"));
	eventEcharts();
	scatterEcharts();
}


</script>

</body>















</html>