<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>Insert title here</title>
<script src="https://cdn.bootcss.com/mui/3.7.1/js/mui.min.js"></script>
<link href="https://cdn.bootcss.com/mui/3.7.1/css/mui.min.css"
	rel="stylesheet"></link>
<script src="https://cdn.bootcss.com/echarts/3.8.5/echarts.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>   

<style type="text/css">

/*toast信息提示*/
.mui-toast-container {bottom: 50% !important;}
.mui-toast-message {opacity: 0.6; color: #fff; width: 250px; padding: 10px 5px 10px 5px;font-size:20px;}



</style>


</head>
<body>
	<div id="app">
	
	<div v-show="loadingPage" style="position: fixed;top:0px;z-index: 9999;background-color: #FFFFFF;width: 100%;height: 800px;text-align: center;">
		<img  style="margin-top: 230px;"  alt="" src="http://localhost:8080/static/img/loading.gif">
	</div>
	
		<header class="mui-bar mui-bar-nav">
			<a v-show="back_button" v-on:tap="back" style="color:black;" class="mui-icon mui-icon-left-nav mui-pull-left"></a>
			<a id="" v-on:tap="showCounterOpt" v-if="!back_button" style="color:black;" class="mui-action-menu mui-icon mui-icon-bars mui-pull-right"></a>
			<!--右上角弹出菜单-->
		
					<ul id="topMenu" class="mui-table-view" style="width:30%;position: fixed;top: 45px;z-index:999;right: 0" v-show="counterOption" >
						<li v-show="option_glkt" class="mui-table-view-cell">
							<a v-on:tap="toEditCounter" href="#">关联款台</a>
						</li>
						<!-- <li class="mui-table-view-cell"><a href="#">绑定所有</a>
						</li>
						<li class="mui-table-view-cell"><a href="#">解绑所有</a>
						</li> -->
					</ul> 
			<h1 class="mui-title" style="font-size:20px;font-weight: bold;">{{title | changeTitle}}</h1>
		</header>
		
		
				
		
<!-- 查看更多事件页面 -->
<div v-show="eventListPage" class="mui-content" v-on:tap="closeCounterOpt" style="background-color: #F8F8F8;">



	<ul class="mui-table-view"
				style="background-color: #F8F8F8; margin-top: 20px;" v-show="isEventListShow">
				<li v-for="item in selectedEvents" v-on:tap="toDetailPage(item)" class="mui-table-view-cell mui-media"><a
					href="javascript:;"> <img
						class="mui-media-object mui-pull-left"
						src="http://placehold.it/40x30"></img>
						<div class="mui-media-body">
							<p class="mui-ellipsis">{{item.date}} 交易单号:{{item.TransID}}</p>
							<p class="mui-ellipsis">收银员ID:{{item.CashierID}} 款台:{{item.RegID}} 审查结果:{{item.result}}</p>
						</div>
				</a></li>
				<!-- <li class="mui-table-view-cell mui-media"><a
					href="javascript:;"> <img
						class="mui-media-object mui-pull-left"
						src="http://placehold.it/40x30"></img>
						<div class="mui-media-body">
							<p class="mui-ellipsis">2017/7/1 11:23:50 交易单号:wh20170701003</p>
							<p class="mui-ellipsis">王XX 款台:5# 审查结果:</p>
						</div>
				</a></li>
				<li class="mui-table-view-cell mui-media"><a
					href="javascript:;"> <img
						class="mui-media-object mui-pull-left"
						src="http://placehold.it/40x30"></img>
						<div class="mui-media-body">
							<p class="mui-ellipsis">2017/7/1 11:23:50 交易单号:wh20170701003</p>
							<p class="mui-ellipsis">王XX 款台:5# 审查结果:</p>
						</div>
				</a></li> -->
				<li v-on:tap="back" class="mui-table-view-cell mui-media" style="text-align: center;color:gray;border:solid 1px #D7D7DC;"><a
					href="javascript:;"> 返回
				</a></li> 
			</ul>
</div>

<!-- 事件详情页 -->
<div v-show="detailPage" class="mui-content" v-on:tap="closeCounterOpt" style="background-color: #F8F8F8;">

<h1 class="mui-title" style="font-size: 25px;">{{detailEvent.date}}({{detailEvent.status}})</h1>

			<video id="video" width="100%" height="240" style="margin-top: 25px;" controls>
			  <!-- <source :src="detailEvent.VideoUrl"  type="video/mp4"> -->
			  
			  <source src="" type="video/mp4">
                    <!-- <source  :src="VideoUrl" type="video/ogg">
                    <source  :src="VideoUrl" type="video/webm">
                    <object :data="VideoUrl" >
                        <embed  :src="VideoUrl" />
                    </object>
                    <p>很抱歉！您的浏览器不支持视频控件请更新版本/使用uc浏览器等</p> -->
			</video>

			<form class="mui-input-group">
				<div style="height: 50px;line-height: 50px;font-size: 25px;" class="mui-input-row ">
					<label>收银员</label>
					<input style="height: 50px;line-height: 50px;font-size: 25px;" type="text" disabled="disabled" :placeholder="detailEvent.CashierID">
				</div>
				<div style="height: 50px;line-height: 50px;font-size: 25px;" class="mui-input-row ">
					<label>交易单号</label>
					<input style="height: 50px;line-height: 50px;font-size: 25px;" type="text" disabled="disabled" :placeholder="detailEvent.TransID">
				</div>
				<div style="height: 50px;line-height: 50px;font-size: 25px;" class="mui-input-row ">
					<label>审核结论</label>
					<select id="result" style="height: 50px;line-height: 50px;font-size: 25px;" :disabled="disabled" @change="watchEditChange" v-model="detailEvent.result">
						<option value="漏扫">漏扫</option>
						<option value="补扫">补扫</option>
						<!-- 暂时写死 -->
					</select>
				</div>
				<div style="height: 50px;line-height: 50px;font-size: 25px;" class="mui-input-row ">
					<label>备注</label>
					<input id="save_comment" style="height: 50px;line-height: 50px;font-size: 25px;" :disabled="disabled" type="text" v-model="detailEvent.comment" placeholder="">
				</div>
				<div style="height: 50px;line-height: 50px;font-size: 25px;" class="mui-input-row ">
					<label>商品名称</label>
					<input id="save_productName" style="height: 50px;line-height: 50px;font-size: 25px;" :disabled="disabled" type="text" v-model="detailEvent.productName"  placeholder="">
				</div>
				<div style="height: 50px;line-height: 50px;font-size: 25px;" class="mui-input-row ">
					<label>金额</label>
					<input id="save_money" style="height: 50px;line-height: 50px;font-size: 25px;" :disabled="disabled" type="number" pattern="[0-9]*" v-model="detailEvent.money"  placeholder="">
				</div>
			</form>
				<div class="mui-button-row">
					<button v-show="detailBtnShow"  type="button" style="position: absolute;top: 0px;" class="mui-btn mui-btn-block  mui-btn-primary" v-on:tap="saveEditResult(detailEvent)">{{detailBtn}}</button>&nbsp;&nbsp;
				</div>

</div>


<!-- 防损管理首页 -->
		<div v-show="managerPage" class="mui-content" v-on:tap="closeCounterOpt" style="background-color: #F8F8F8;">
		
		
			<ul class="mui-table-view mui-grid-view mui-grid-9 eventNum"
				style="background-color: #F8F8F8;">
				<li v-on:tap="wclDivClick" v-bind:style="wcllstyleObj"  
					class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="#"> <span class="mui-icon" >{{eventsStatus0 | getLength}}</span>
						<p v-bind:style="wclpObj">未处理</p>
				</a>
				</li>
				<li v-on:tap="zcDivClick" v-bind:style="zclstyleObj"
					class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="#"> <span class="mui-icon">{{eventsStatus1 | getLength}}</span>
						<p v-bind:style="zcpObj">暂存</p>
				</a>
				</li>
				<li v-on:tap="wcDivClick" v-bind:style="wclstyleObj"
					class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="#"> <span class="mui-icon">{{eventsStatus2 | getLength}}</span>
						<p v-bind:style="wcpObj">完成</p>
				</a>
				</li>
			</ul>

			<div id="eventChart" style="height: 250px;width:100%"></div>
			<div style="height: 250px;width:100%;text-align: center;font-size: 20px;font-weight: bold;line-height: 250px;color:#5D9CEC;" v-show="isNoEventShow">{{noEventTip}}</div>

			<ul class="mui-table-view"
				style="background-color: #F8F8F8; margin-top: 20px;" v-show="isEventListShow">
				<li v-for="item in selectedEvents.slice(0, 3)" v-on:tap="toDetailPage(item)" class="mui-table-view-cell mui-media"><a
					href="javascript:;"> <img
						class="mui-media-object mui-pull-left"
						src="http://placehold.it/40x30"></img>
						<div class="mui-media-body">
							<p class="mui-ellipsis">{{item.date}} 交易单号:{{item.TransID}}</p>
							<p class="mui-ellipsis">收银员ID:{{item.CashierID}} 款台:{{item.RegID}} 审查结果:{{item.result}}</p>
						</div>
				</a></li>
				<!-- <li class="mui-table-view-cell mui-media"><a
					href="javascript:;"> <img
						class="mui-media-object mui-pull-left"
						src="http://placehold.it/40x30"></img>
						<div class="mui-media-body">
							<p class="mui-ellipsis">2017/7/1 11:23:50 交易单号:wh20170701003</p>
							<p class="mui-ellipsis">王XX 款台:5# 审查结果:</p>
						</div>
				</a></li>
				<li class="mui-table-view-cell mui-media"><a
					href="javascript:;"> <img
						class="mui-media-object mui-pull-left"
						src="http://placehold.it/40x30"></img>
						<div class="mui-media-body">
							<p class="mui-ellipsis">2017/7/1 11:23:50 交易单号:wh20170701003</p>
							<p class="mui-ellipsis">王XX 款台:5# 审查结果:</p>
						</div>
				</a></li> -->
				<li v-on:tap="getMoreEvent" v-if="selectedEvents.length>3" class="mui-table-view-cell mui-media" style="text-align: center;color:gray;border:solid 1px #D7D7DC;"><a
					href="javascript:;"> 点击查看更多
				</a></li> 
				<li v-if="!(selectedEvents.length>3)" class="mui-table-view-cell mui-media" style="text-align: center;color:gray;border:solid 1px #D7D7DC;"><a
					href="javascript:;"> 没有更多了
				</a></li>
				
			</ul>

		</div>
		
		
		
		<!-- !(managerPage||eventListPage) -->
<div v-show="!(managerPage||eventListPage||detailPage)" class="mui-content" style="background-color: #F8F8F8;">
<!-- 款台绑定页 -->
<div style="" class="mui-card">
				<form class="mui-input-group">
					<div v-for="counter in counterList" class="mui-input-row mui-checkbox" style="height: 50px;">
						<label :for="counter.id" style="line-height: 2.0;text-align: justify;">ID:{{counter.id}}名称:{{counter.name}}类型:{{counter.typeId | changeTitle}} </label>
						<input :id="counter.id" style="font-size: 40px;line-height:0.8 ;"  :value="counter.id" type="checkbox" v-model="counterPicked"  ></input>
					</div>
					<!--  <div class="mui-input-row mui-checkbox">
						{{counterPicked}}
					</div> -->
					<!--<div class="mui-input-row mui-checkbox mui-disabled">
						<label>disabled checkbox</label>
						<input name="checkbox1" type="checkbox" disabled="disabled"></input>
					</div> -->
				</form>
			</div>
			<button v-on:tap="saveUserCounter" type="button" class="mui-btn mui-btn-primary mui-btn-block " style="position: fixed;bottom:0px;margin-bottom: 0px;">保存</button>
</div>
<!-- 款台绑定页  end -->


		<!-- 隐藏域 -->
		<!-- <input type="hidden" v-model="roleId" th:value="${roleId} " id="roleId" name="roleId" /> 
			<input type="hidden" v-model="shopID" th:value="${shopID}" id="shopID" name="shopID" /> 
			<input type="hidden" v-model="areaID" th:value="${areaID}" id="areaID" name="areaID" /> 
			<input type="hidden" v-model="usrName" th:value="${usrName}" id="usrName" name="usrName" />
			<input type="hidden" v-model="usrID"  th:value="${usrID}" id="usrID" name="usrID" /> -->

	</div>
<!-- vue框架 -->
<script type="text/javascript" charset="utf-8">
//alert(usrID)
//const serverPath="http://localhost:8080";

function getQueryString(name) { 
	var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i"); 
	var r = window.location.search.substr(1).match(reg); 
	if (r != null) return unescape(r[2]); return null; 
} 

//alert(getQueryString("usrID"));
const serverPath=getQueryString("serverPath");//获取服务端ip和端口号
var usrID=getQueryString("usrID");
var roleId=getQueryString("roleId");
var shopID=getQueryString("shopID");
var areaID=getQueryString("areaID");
var usrName=getQueryString("usrName");



//alert(location.hostname)
/* document.onclick=function(){
	mui("#topMenu").style.display='none';
} */

	var app = new Vue({
		el : '#app',
		data : {
			roleId : '',
			shopID : '',
			areaID : '',
			usrName : '',
			usrID:'',
			
			title:'10',
			
			eventsStatus0:[],//未处理事件
			eventsStatus1:[],//暂存事件
			eventsStatus2:[],//完成事件
			eventsForThisWeek:[],//按周统计
			
			
			
			selectedEvents:[],//当前要显示的事件
			
			wcllstyleObj:{//未处理li style
				color: 'white',
			    background:'#5D9CEC'
			},
			wclpObj:{
				color: 'white',
			},
			zclstyleObj:{//暂存li style
				color: '',
			    background:'#F1F1F1'
			},
			zcpObj:{
				color: '',
			},
			wclstyleObj:{//完成li style
				color: '',
			    background:'#F1F1F1'
			},
			wcpObj:{
				color: '',
			},
			
			
			isEventListShow:true,
			isNoEventShow:false,
			noEventTip:'没有未处置事件',
			
			managerPage:true,
			eventListPage:false,
			counterEditPage:false,
			detailPage:false,
			
			back_button:false,//左上角返回按钮是否可见
			counterOption:false,
			option_glkt:true,
			
			counterList:[],
			userCounter:[],
			
			counterPicked:[],
			
			detailEvent:{//被点击查看详情的事件
				
			},
			saveEditDisabled:true,
			detailBtn:'保存',//详情页  按钮文字
			detailBtnShow:true,//详情页  按钮是否显示
			
			disabled: false,//详情页表单是否可点击
			
			loadingPage:true,//页面载入动画
			
			
			
		},
		// 在 `methods` 对象中定义方法
		methods : {
			loadEventCount : function() {
				
				var _self=this;
				
				//alert('test')
				mui.ajax({
                    url : serverPath+"/getEventData",
                    type : 'get',
                    headers: {
                       'Content-Type': 'application/x-www-form-urlencoded'
                  },
                    data : { 
                    	"areaID" : this.areaID ,
                    	"usrName" : this.usrName ,
                    	"usrID" : this.usrID ,
                    	"shopID" : this.shopID ,
                    	"roleId" : this.roleId ,
                    	
                    }, 
                    timeout : 10000,
                    success : function(data){ 
                    	if(data.status==="2"){
                    		//提示关联款台
                    		var btnArray = ['否', '是'];

                			mui.confirm('是否现在去关联款台？', '未关联款台', btnArray, function(e) {

                    		if (e.index == 1) {
                        	//去关联款台

                        	
                        	
                    		} else {
                    		//不去关联款台
                    		
                    		
			                       	
			                }
			
			                })
                    	}else{
                    	
                    	
                        //var result = eval('('+ data +')');    //js原生方法解析json字符串为json对象
                    	//vue.data  load  data
                        _self.eventsStatus0=data.eventsStatus0;
                    	_self.eventsStatus1=data.eventsStatus1;
                    	_self.eventsStatus2=data.eventsStatus2;
                    	//加载周事件  （防损员huo防损经理）
                    	_self.eventsForThisWeek=data.eventsForThisWeek;
                    	//登陆页面后 默认先加载未处理事件
                    	_self.selectedEvents=data.eventsStatus0;
                    	//默认用户进来先选择了 未处理事件列表
                    	_self.wclDivClick();
                    	
                    	//如果是防损员及 roleId=1 时  判断是否关联款台（本月）
                    	
                    	
                    	//mui.toast("欢迎使用微晟防损管理系统")
                    	//mui.alert("欢迎使用微晟防损管理系统")
                    	
                    	 console.log('未处理：'+_self.eventsStatus0.length+'\n暂存：'+_self.eventsStatus1.length+
                    			'\n完成：'+_self.eventsStatus2.length) 
                    	};
                    	
                    },
                    error : function(xhr,type,errorThrown){
                        console.log(xhr);
                        console.log(type);
                        console.log(errorThrown);
                    }
      		});

		},
			
			wclDivClick:function(){//未处理计数div被点击事件
				//js处理li被点击后的样式
				this.wcllstyleObj.background='#5D9CEC'
				this.wcllstyleObj.color='white'
				this.wclpObj.color='white'
				
				this.zclstyleObj.background='#F1F1F1'
				this.zclstyleObj.color=''
				this.zcpObj.color=''
				
				this.wclstyleObj.background='#F1F1F1'
				this.wclstyleObj.color=''
				this.wcpObj.color=''
				//切换显示的event数据源
				this.selectedEvents=this.eventsStatus0
				this.title='10';
				//控制详情页按钮
				this.detailBtnShow=true;
				this.detailBtn='保存';
				
				console.log(this.selectedEvents.length)
				if(this.selectedEvents.length==0){
					this.noEventTip='没有未处置事件';
					this.isEventListShow=false;
					this.isNoEventShow=true;
				}else{
					this.isEventListShow=true;
					this.isNoEventShow=false;
				}
				
				
			},
			zcDivClick:function(){//暂存计数div被点击事件
				//js处理li被点击后的样式
				this.wcllstyleObj.background='#F1F1F1'
				this.wcllstyleObj.color=''
				this.wclpObj.color=''
				
				this.zclstyleObj.background='#5D9CEC'
				this.zclstyleObj.color='white'
				this.zcpObj.color='white'
				
				this.wclstyleObj.background='#F1F1F1'
				this.wclstyleObj.color=''
				this.wcpObj.color='' 
				//切换显示的event数据源
				this.selectedEvents=this.eventsStatus1
				this.title='11';
				//控制详情页按钮
				this.detailBtnShow=true;
				this.detailBtn='提交';
			
			
				console.log(this.selectedEvents.length)
				if(this.selectedEvents.length==0){
					this.noEventTip='没有待提交事件'
					this.isEventListShow=false
					this.isNoEventShow=true
				}else{
					this.isEventListShow=true;
					this.isNoEventShow=false;
				}
			},
			wcDivClick:function(){//完成计数div被点击事件
				//js处理li被点击后的样式
				this.wcllstyleObj.background='#F1F1F1'
				this.wcllstyleObj.color=''
				this.wclpObj.color=''
				
				this.zclstyleObj.background='#F1F1F1'
				this.zclstyleObj.color=''
				this.zcpObj.color=''
				
				this.wclstyleObj.background='#5D9CEC'
				this.wclstyleObj.color='white'
				this.wcpObj.color='white' 
				//切换显示的event数据源
				this.selectedEvents=this.eventsStatus2
				this.title='12';
				//控制详情页按钮
				this.detailBtnShow=false;
				this.detailBtn='';
			
			
				console.log(this.selectedEvents.length)
				if(this.selectedEvents.length==0){
					this.noEventTip='没有已完成事件'
					this.isEventListShow=false
					this.isNoEventShow=true
				}else{
					this.isEventListShow=true;
					this.isNoEventShow=false;
				}
			},
			getMoreEvent:function(){
				console.log("selectedEvent:"+this.selectedEvents.length)
				 this.managerPage=false;
				this.eventListPage=true;
				this.back_button=true;
				this.title+='s';
			},
			back:function(){
				this.managerPage=true;
				this.eventListPage=false;
				this.back_button=false;
				this.detailPage=false;
				//this.detailBtnShow=true;
				//去点最后一个字符  s
				var basic=this.title;
				basic = basic.substr(0, basic.length - 1); 
				if(basic=='13'){//刚刚从款台页面跳回的
					//重新从后台获取event数据

					//默认重新加载未处理事件
					basic='10';
					//切换显示的event数据源  到未处理事件
					this.selectedEvents=this.eventsStatus0
				}
				this.title=basic;
				console.log("title:"+this.title)
			},
			showCounterOpt:function(){
				this.counterOption=!this.counterOption;
				
				if(this.roleId==='2'){//这是防损经理  默认关联所有款台
					this.option_glkt=false;
				} 
				
			},
			toEditCounter:function(){//跳转至 关联款台页面
				//关联的款台 check状态为checked
				this.managerPage=false;
				this.eventListPage=false;
				this.counterOption=false;
				this.back_button=true;
				mui.toast('点击保存绑定才会生效喔')
				this.title='13s';
				
				var _that=this;
				
				var t;//一个bug暂时这么解决一下
				t = setTimeout(function (){
					_that.showRelatedCounters();
				}, 100);
				
			},
			closeCounterOpt:function(){
				this.counterOption=false;
			},
			loadCounterListData:function(){
				
				var _self=this;
				
				mui.ajax({//向服务器获取款台数据
					url : serverPath+"/getCounterListByShopId/"+this.shopID+'/'+this.usrID,
                    type : 'get',
                    headers: {
                       'Content-Type': 'application/x-www-form-urlencoded'
                  },
                    data : { 
                    	
                    }, 
                    timeout : 10000,
                    success : function(data){
                    	_self.counterList=data.counterList;
                    	_self.userCounter=data.userCounter; 
                    	console.log('绑定款台数量：'+_self.userCounter.length);
                    	
                    },
                    error : function(xhr,type,errorThrown){
                        console.log(xhr);
                        console.log(type);
                        console.log(errorThrown);
                    }
				});
			},
			showRelatedCounters:function(){
				//先清空  在push
				var _self=this;
				this.counterPicked=[];
				
				
				for(var i=0;i<this.userCounter.length;i++){
					_self.counterPicked.push((this.userCounter)[i].counterId);
            	} 
				
				
            	console.log("push："+this.counterPicked.length)
            	/* var str='';
            	for(var i=0;i<this.counterPicked.length;i++){
            		str+=','+this.counterPicked[i];
            	} */
			},
			test:function(i){
				this.counterPicked.push((this.userCounter)[i].counterId);
			},
			saveUserCounter:function(){
				
				var _self=this;
				
				var counterId='';
				
				for(var i=0;i<this.counterPicked.length;i++){
					if(i==0){
						counterId+=this.counterPicked[i];
					}else{
					counterId+=','+this.counterPicked[i];
					}
				}
				
				mui.ajax({
					url : serverPath+"/saveUserCounter/"+this.usrID,
                    type : 'get',
                    headers: {
                       'Content-Type': 'application/x-www-form-urlencoded'
                  },
                  data : { 
                  	"counterId":counterId
                  }, 
                  timeout : 10000,
                  success : function(data){
                  	if(data.status==0){
                  		mui.toast('绑定成功');
                  		//跳转到manager页面  重载event数据  和 counter数据
                  		_self.loadEventCount();
	                    _self.loadCounterListData();
                  		_self.back();
                  		
                  	}
                  	
                  },
                  error : function(xhr,type,errorThrown){
                      console.log(xhr);
                      console.log(type);
                      console.log(errorThrown);
                  }
				});
				
			},
			toDetailPage:function(event){
				this.detailEvent=event;
				mui("video")[0].src = event.VideoUrl+'?'+Math.random();
				//alert('result:'+event.comment)
				//alert('result:'+event.id)
				//alert("eventID："+this.detailEvent.VideoUrl)
				console.log("titleNum:"+this.title)
				
				this.managerPage=false;
				this.eventListPage=false;
				this.detailPage=true;
				this.back_button=true;//显示返回按钮
				
				//控制表单是否可编辑
				this.disabled=!this.detailBtnShow;
				
				if(event.result==''){
					mui.toast('请选择审核结论');
				}else if(event.comment==''||event.productName==''){
					mui.toast('请补全事件详细信息');
				}else{
					
				}
				//处理标题
				this.title='14s';
				
			},	
			saveEditResult:function(event){
				var _self=this;
				//前台数据校验
				switch(this.detailBtn){
				
				case "保存":
					
					event.status='暂存';
					if(event.result.length!=0){
						//前台打印修改的结果
						console.log("---保存编辑结果---"+"/n id:"+event.id+"/n comment:"+event.comment+"/n productName:"+event.productName+"/n money:"+event.money
								+"/n result:"+event.result+"/n status:"+event.status)
						
						
						
						mui.ajax({//向服务器获取款台数据
							url : serverPath+"/saveEditResult",
		                    type : 'post',
		                    headers: {
		                       'Content-Type': 'application/x-www-form-urlencoded'
		                  },
		                    data : { 
		                    	id:event.id,
		                    	comment:event.comment,
		                    	productName:event.productName,
		                    	money:event.money,
		                    	result:event.result,
		                    	status:event.status,
		                    }, 
		                    timeout : 10000,
		                    success : function(data){
		                    	if(data.status==0){
		                      		mui.toast('保存成功');
		                      		//跳转到manager页面  重载event数据  和 counter数据
		                      		_self.loadEventCount();
		                      		_self.loadCounterListData();
		                      		_self.back();
		                      		
		                      	}
		                    },
		                    error : function(xhr,type,errorThrown){
		                        console.log(xhr);
		                        console.log(type);
		                        console.log(errorThrown);
		                    }
						});

					}else{
						mui.toast('审核结论不能为空');
					}
					
					break;
					
				case "提交":
					/* console.log("empty:"+event.comment.replace(/(^s*)|(s*$)/g, "").length)
					
					event.comment=event.comment.replace(/(^\s*)/g, "");
					event.productName=event.comment.replace(/(^\s*)/g, "");
					
					console.log("empty later:"+event.comment.replace(/(^s*)|(s*$)/g, "").length) */
					
					event.status='完成';
					//alert(event.comment);
					//event.comment='testetst';
					
					//alert(mui("#save_commet")[0].value());
					
					//return;
					
					//alert(event.comment+"+"+event.productName)
					if(event.comment.length!=0&&event.productName.length!=0){
						//前台打印修改的结果
						console.log("---保存编辑结果---"+"/n id:"+event.id+"/n comment:"+event.comment+"/n productName:"+event.productName+"/n money:"+event.money
								+"/n result:"+event.result+"/n status:"+event.status)
						
						
						
						mui.ajax({//向服务器获取款台数据
							url : serverPath+"/saveEditResult",
		                    type : 'post',
		                    headers: {
		                       'Content-Type': 'application/x-www-form-urlencoded'
		                  },
		                    data : { 
		                    	id:event.id,
		                    	comment:event.comment,
		                    	productName:event.productName,
		                    	money:event.money,
		                    	result:event.result,
		                    	status:event.status,
		                    }, 
		                    timeout : 10000,
		                    success : function(data){
		                    	if(data.status==0){
		                      		mui.toast('提交成功');
		                      		//跳转到manager页面  重载event数据  和 counter数据
		                      		_self.loadEventCount();
		                      		_self.loadCounterListData();
		                      		_self.back();
		                      		
		                      	}
		                    },
		                    error : function(xhr,type,errorThrown){
		                        console.log(xhr);
		                        console.log(type);
		                        console.log(errorThrown);
		                    }
						});

					}else{
						mui.toast('补全所有信息才能提交喔');
					}
					
					
					break;
					
				default:
					
					break;
				
				
				}
				
					
					
				
				
				
								
			},
			watchEditChange:function(){
				if(this.detailEvent.result.length!=0){
					this.saveEditDisabled=true;
				}
			}
			
			
			

		},
		mounted : function() {
			//alert("vue load ")
			//加载隐藏域中的变量
			this.roleId=roleId;
			this.shopID=shopID; 
			this.areaID=areaID;
			this.usrName=usrName;
			this.usrID=usrID;
			
			console.log("---login action---\nusrID:"+this.usrID+"\nareaID:"+this.areaID+"\nusrName:"+
					this.usrName+"\nshopID:"+this.shopID+"\nroleId:"+this.roleId+"\n---end---")
			
			this.loadEventCount();
			this.loadCounterListData();
			this.wclDivClick();
			
			this.loadingPage=false;
			
			
			//alert('load success'+this.usrID)
		},
		beforeCreate: function () {
            console.group('beforeCreate 创建前状态===============》');
           //alert("页面正在载入中....") ;
    	},
		filters: {//过滤器
			  getLength: function (value) {
			    return value.length
			  },
			  changeTitle:function(value){//字符串 过滤处理器 根据需要配置
				  
					  if(value==='1'||value==='10'||value==='11'||value==='12'||value==='14'){
						  this.detailBtnShow=true;
						  return '防损事件管理';
					  }
				  
					  if(value==='10s'){
						  //console.log(back_button)
						  this.detailBtnShow=true;
						  this.detailBtn="保存";
						  return '未处理事件列表';
					  }
					  if(value==='11s'){
						  this.detailBtnShow=true;
						  this.detailBtn="提交";
						  return '暂存事件列表';
					  }
					  if(value==='12s'){
						  this.detailBtnShow=false;
						  return '完成事件列表';
					  }
					  if(value==='13s'){
						  this.detailBtnShow=true;
						  return '款台列表';
					  }
					  if(value==='14s'){
						  this.detailBtnShow=true;
						  return '事件详情';
					  }
					  if(value==0){
						  return '传统银台';
					  }
					  if(value==1){
						  return '自助银台';
					  }
					  
					  console.log('当前用户roleId:'+this.roleId);
			  },
			  watchNumChange:function(value){
				  
			  },
			}//过滤器 end
	}) 
</script>

</body>












<script type="text/javascript" charset="utf-8">
//alert(usrID)
	var eventChart = echarts.init(document.getElementById('eventChart'));

	option = {
		title : {
			text : '防损事件',
			show : true,
			textStyle : {
				fontWeight : 'normal',
				fontSize : 15,
			}
		},
		tooltip : {
			trigger : 'axis'
		},
		legend : {
			data : [ '邮件营销' ],
			show : false
		},
		grid : {
			left : '3%',
			right : '4%',
			bottom : '3%',
			containLabel : true,
			show : true
		},
		toolbox : {
			itemSize : 25,
			feature : {
				myTool1 : {
					show : true,
					title : '按月统计',
					icon : 'image://http://localhost:8080/static/img/月.svg',
					onclick : function() {
						//							alert('myToolHandler1')
					}
				},
				myTool2 : {
					show : true,
					title : '按周统计',
					icon : 'image://http://localhost:8080/static/img/周.svg',
					onclick : function() {
						//							alert('myToolHandler2')
						option.series[0].data=app.eventsForThisWeek;
						eventChart.setOption(option);
					}
				},
				myTool3 : {
					show : true,
					title : '按日统计',
					icon : 'image://http://localhost:8080/static/img/日.svg',
					onclick : function() {
						//							alert('myToolHandler2')
					}
				}
			},

		},
		xAxis : {
			type : 'category',
			boundaryGap : false,
			data : [ '周一', '周二', '周三', '周四', '周五', '周六', '周日' ]
		},
		yAxis : {
			type : 'value'
		},
		series : [ {
			name : '防损事件',
			type : 'line',
			stack : '总量',
			data : [ 120, 132, 101, 134, 90, 230, 210 ]
		} ]
	};

	//alert(option.toolbox.feature.myTool1.icon)

	//option.toolbox.feature.myTool1.icon='image://'+serverPath+'/static/img/月.svg';
	//option.toolbox.feature.myTool1.icon='image://'+serverPath+'/static/img/周.svg';
	//option.toolbox.feature.myTool1.icon='image://'+serverPath+'/static/img/日.svg';
	//alert(option.toolbox.feature.myTool1.icon)

	eventChart.setOption(option);
</script>






</html>