<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>正在跳转...</title>

</head>
<body>
		<!-- 隐藏域 -->
		<input type="hidden"  th:value="${roleId} " id="roleId" name="roleId" /> 
			<input type="hidden"  th:value="${shopID}" id="shopID" name="shopID" /> 
			<input type="hidden"  th:value="${areaID}" id="areaID" name="areaID" /> 
			<input type="hidden"  th:value="${usrName}" id="usrName" name="usrName" />
			<input type="hidden"   th:value="${usrID}" id="usrID" name="usrID" />

<script type="text/javascript" charset="utf-8">
//alert(usrID)
const serverPath="http://localhost:8080";//本地测试用
//const serverPath="http://192.168.1.198:8080";//手机测试用
//const serverPath="http://d9ae5x.natappfree.cc";//上线后 填绝对url

var usrID=document.getElementById("usrID").value;
var roleId=document.getElementById("roleId").value;
var shopID=document.getElementById("shopID").value;
var areaID=document.getElementById("areaID").value;
var usrName=document.getElementById("usrName").value;


window.location.href=serverPath+"/static/index.html?usrID="+usrID+"&roleId="+roleId+"&shopID="+shopID
+"&areaID="+areaID+"&usrName="+usrName;

</script>

</body>



















</html>