<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>Insert title here</title>
<script src="https://cdn.bootcss.com/mui/3.7.1/js/mui.min.js"></script>
<link href="https://cdn.bootcss.com/mui/3.7.1/css/mui.min.css"
	rel="stylesheet"></link>
<script src="https://cdn.bootcss.com/echarts/3.8.5/echarts.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>   
</head>
<body>
	<div id="app">
		<header class="mui-bar mui-bar-nav">
			<a v-show="back_button" v-on:tap="back" style="color:black;" class="mui-icon mui-icon-left-nav mui-pull-left"></a>
			<a id="" v-on:tap="showCounterOpt" v-if="!back_button" style="color:black;" class="mui-action-menu mui-icon mui-icon-bars mui-pull-right"></a>
			<!--右上角弹出菜单-->
		
					<ul id="topMenu" class="mui-table-view" style="width:30%;position: fixed;top: 45px;z-index:999;right: 0" v-show="counterOption" >
						<li class="mui-table-view-cell">
							<a v-on:tap="toEditCounter" href="#">关联款台</a>
						</li>
						<!-- <li class="mui-table-view-cell"><a href="#">绑定所有</a>
						</li>
						<li class="mui-table-view-cell"><a href="#">解绑所有</a>
						</li> -->
					</ul> 
			<h1 class="mui-title" style="font-size:20px;font-weight: bold;">{{title | changeTitle}}</h1>
		</header>
		
		
				
		
<!-- 查看更多事件页面 -->
<div v-show="eventListPage" class="mui-content" v-on:tap="closeCounterOpt" style="background-color: #F8F8F8;">



	<ul class="mui-table-view"
				style="background-color: #F8F8F8; margin-top: 20px;" v-show="isEventListShow">
				<li v-for="item in selectedEvents" class="mui-table-view-cell mui-media"><a
					href="javascript:;"> <img
						class="mui-media-object mui-pull-left"
						src="http://placehold.it/40x30"></img>
						<div class="mui-media-body">
							<p class="mui-ellipsis">{{item.date}} 交易单号:{{item.TransID}}</p>
							<p class="mui-ellipsis">收银员ID:{{item.CashierID}} 款台:{{item.RegID}} 审查结果:{{item.result}}</p>
						</div>
				</a></li>
				<!-- <li class="mui-table-view-cell mui-media"><a
					href="javascript:;"> <img
						class="mui-media-object mui-pull-left"
						src="http://placehold.it/40x30"></img>
						<div class="mui-media-body">
							<p class="mui-ellipsis">2017/7/1 11:23:50 交易单号:wh20170701003</p>
							<p class="mui-ellipsis">王XX 款台:5# 审查结果:</p>
						</div>
				</a></li>
				<li class="mui-table-view-cell mui-media"><a
					href="javascript:;"> <img
						class="mui-media-object mui-pull-left"
						src="http://placehold.it/40x30"></img>
						<div class="mui-media-body">
							<p class="mui-ellipsis">2017/7/1 11:23:50 交易单号:wh20170701003</p>
							<p class="mui-ellipsis">王XX 款台:5# 审查结果:</p>
						</div>
				</a></li> -->
				<li v-on:tap="back" class="mui-table-view-cell mui-media" style="text-align: center;color:gray;border:solid 1px #D7D7DC;"><a
					href="javascript:;"> 返回
				</a></li> 
			</ul>
</div>



<div v-show="!(managerPage||eventListPage)" class="mui-content" style="background-color: #F8F8F8;">
<!-- 款台绑定页 -->
<div class="mui-card">
				<form class="mui-input-group">
					<div v-for="counter in counterList" class="mui-input-row mui-checkbox" style="height: 50px;">
						<label :for="counter.id" style="line-height: 2.0;">ID:{{counter.id}} &nbsp;&nbsp;名称:{{counter.name}}&nbsp;&nbsp; 类型:{{counter.typeId | changeTitle}}</label>
						<input :id="counter.id" style="font-size: 40px;line-height:0.8 ;"  :value="counter.id" type="checkbox" v-model="counterPicked"  defaultChecked=""></input>
					</div>
					 <div class="mui-input-row mui-checkbox">
						{{counterPicked}}
						<!-- 隐藏域 判断是否有checkbox点击 -->
					</div>
					<!--<div class="mui-input-row mui-checkbox mui-disabled">
						<label>disabled checkbox</label>
						<input name="checkbox1" type="checkbox" disabled="disabled"></input>
					</div> -->
				</form>
			</div>
<!-- 款台绑定页  end -->
</div>

<!-- 防损管理首页 -->
		<div v-show="managerPage" class="mui-content" v-on:tap="closeCounterOpt" style="background-color: #F8F8F8;">
		
		
			<ul class="mui-table-view mui-grid-view mui-grid-9 eventNum"
				style="background-color: #F8F8F8;">
				<li v-on:tap="wclDivClick" v-bind:style="wcllstyleObj"  
					class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="#"> <span class="mui-icon" >{{eventsStatus0 | getLength}}</span>
						<p v-bind:style="wclpObj">未处理</p>
				</a>
				</li>
				<li v-on:tap="zcDivClick" v-bind:style="zclstyleObj"
					class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="#"> <span class="mui-icon">{{eventsStatus1 | getLength}}</span>
						<p v-bind:style="zcpObj">暂存</p>
				</a>
				</li>
				<li v-on:tap="wcDivClick" v-bind:style="wclstyleObj"
					class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="#"> <span class="mui-icon">{{eventsStatus2 | getLength}}</span>
						<p v-bind:style="wcpObj">完成</p>
				</a>
				</li>
			</ul>

			<div id="eventChart" style="height: 250px;width:100%"></div>
			<div style="height: 250px;width:100%;text-align: center;font-size: 20px;font-weight: bold;line-height: 250px;color:#5D9CEC;" v-show="isNoEventShow">{{noEventTip}}</div>

			<ul class="mui-table-view"
				style="background-color: #F8F8F8; margin-top: 20px;" v-show="isEventListShow">
				<li v-for="item in selectedEvents.slice(0, 3)" class="mui-table-view-cell mui-media"><a
					href="javascript:;"> <img
						class="mui-media-object mui-pull-left"
						src="http://placehold.it/40x30"></img>
						<div class="mui-media-body">
							<p class="mui-ellipsis">{{item.date}} 交易单号:{{item.TransID}}</p>
							<p class="mui-ellipsis">收银员ID:{{item.CashierID}} 款台:{{item.RegID}} 审查结果:{{item.result}}</p>
						</div>
				</a></li>
				<!-- <li class="mui-table-view-cell mui-media"><a
					href="javascript:;"> <img
						class="mui-media-object mui-pull-left"
						src="http://placehold.it/40x30"></img>
						<div class="mui-media-body">
							<p class="mui-ellipsis">2017/7/1 11:23:50 交易单号:wh20170701003</p>
							<p class="mui-ellipsis">王XX 款台:5# 审查结果:</p>
						</div>
				</a></li>
				<li class="mui-table-view-cell mui-media"><a
					href="javascript:;"> <img
						class="mui-media-object mui-pull-left"
						src="http://placehold.it/40x30"></img>
						<div class="mui-media-body">
							<p class="mui-ellipsis">2017/7/1 11:23:50 交易单号:wh20170701003</p>
							<p class="mui-ellipsis">王XX 款台:5# 审查结果:</p>
						</div>
				</a></li> -->
				<li v-on:tap="getMoreEvent" v-if="selectedEvents.length>3" class="mui-table-view-cell mui-media" style="text-align: center;color:gray;border:solid 1px #D7D7DC;"><a
					href="javascript:;"> 点击查看更多
				</a></li> 
				<li v-if="!(selectedEvents.length>3)" class="mui-table-view-cell mui-media" style="text-align: center;color:gray;border:solid 1px #D7D7DC;"><a
					href="javascript:;"> 没有更多了
				</a></li>
				
			</ul>

		</div>


		<!-- 隐藏域 -->
		<input type="hidden" v-model="roleId" th:value="${roleId} " id="roleId" name="roleId" /> 
			<input type="hidden" v-model="shopID" th:value="${shopID}" id="shopID" name="shopID" /> 
			<input type="hidden" v-model="areaID" th:value="${areaID}" id="areaID" name="areaID" /> 
			<input type="hidden" v-model="usrName" th:value="${usrName}" id="usrName" name="usrName" />
			<input type="hidden" v-model="usrID"  th:value="${usrID}" id="usrID" name="usrID" />

	</div>
<!-- vue框架 -->
<script type="text/javascript" charset="utf-8">
//alert(usrID)
const serverPath="http://localhost:8080";//本地测试用
//const serverPath="http://192.168.1.192:8080";//手机测试用
//const serverPath="http://d9ae5x.natappfree.cc";//上线后 填绝对url

var usrID=document.getElementById("usrID").value;
var roleId=document.getElementById("roleId").value;
var shopID=document.getElementById("shopID").value;
var areaID=document.getElementById("areaID").value;
var usrName=document.getElementById("usrName").value;

//alert(location.hostname)
/* document.onclick=function(){
	mui("#topMenu").style.display='none';
} */

	var app = new Vue({
		el : '#app',
		data : {
			roleId : '',
			shopID : '',
			areaID : '',
			usrName : '',
			usrID:'',
			
			title:'10',
			
			eventsStatus0:[],//未处理事件
			eventsStatus1:[],//暂存事件
			eventsStatus2:[],//完成事件
			
			
			
			selectedEvents:[],//当前要显示的事件
			
			wcllstyleObj:{//未处理li style
				color: 'white',
			    background:'#5D9CEC'
			},
			wclpObj:{
				color: 'white',
			},
			zclstyleObj:{//暂存li style
				color: '',
			    background:'#F1F1F1'
			},
			zcpObj:{
				color: '',
			},
			wclstyleObj:{//完成li style
				color: '',
			    background:'#F1F1F1'
			},
			wcpObj:{
				color: '',
			},
			
			
			isEventListShow:true,
			isNoEventShow:false,
			noEventTip:'没有未处置事件',
			
			managerPage:true,
			eventListPage:false,
			counterEditPage:false,
			
			back_button:false,//左上角返回按钮是否可见
			counterOption:false,
			
			counterList:[],
			userCounter:[],
			
			counterPicked:[],
			
			
		},
		// 在 `methods` 对象中定义方法
		methods : {
			loadEventCount : function() {
				//alert('test')
				mui.ajax({
                    url : serverPath+"/getEventData",
                    type : 'get',
                    headers: {
                       'Content-Type': 'application/x-www-form-urlencoded'
                  },
                    data : { 
                    	"areaID" : this.areaID ,
                    	"usrName" : this.usrName ,
                    	"usrID" : this.usrID ,
                    	"shopID" : this.shopID ,
                    	"roleId" : this.roleId ,
                    	
                    }, 
                    timeout : 10000,
                    success : (data) => { 

                        //var result = eval('('+ data +')');    //js原生方法解析json字符串为json对象
                    	//vue.data  load  data
                        this.eventsStatus0=data.eventsStatus0
                    	this.eventsStatus1=data.eventsStatus1
                    	this.eventsStatus2=data.eventsStatus2
                    	//登陆页面后 默认先加载未处理事件
                    	this.selectedEvents=data.eventsStatus0
                    	
                    	//如果是防损员及 roleId=1 时  判断是否关联款台（本月）
                    	if(data.status==="2"){
                    		//提示关联款台
                    		var btnArray = ['否', '是'];

                			mui.confirm('是否现在去关联款台？', '未关联款台', btnArray, function(e) {

                    		if (e.index == 1) {
                        	//去关联款台

                        	
                        	
                    		} else {
                    		//不去关联款台
                    		
			                       	
			                }
			
			                })
                    	}
                    	
                    	//mui.toast("欢迎使用微晟防损管理系统")
                    	//mui.alert("欢迎使用微晟防损管理系统")
                    	
                    	console.log('未处理：'+this.eventsStatus0.length+'\n暂存：'+this.eventsStatus1.length+
                    			'\n完成：'+this.eventsStatus2.length)
                    	
                    },
                    error : function(xhr,type,errorThrown){
                        console.log(xhr);
                        console.log(type);
                        console.log(errorThrown);
                    }
      });

			},
			
			wclDivClick:function(){//未处理计数div被点击事件
				//js处理li被点击后的样式
				this.wcllstyleObj.background='#5D9CEC'
				this.wcllstyleObj.color='white'
				this.wclpObj.color='white'
				
				this.zclstyleObj.background='#F1F1F1'
				this.zclstyleObj.color=''
				this.zcpObj.color=''
				
				this.wclstyleObj.background='#F1F1F1'
				this.wclstyleObj.color=''
				this.wcpObj.color=''
				//切换显示的event数据源
				this.selectedEvents=this.eventsStatus0
				this.title='10';
				console.log(this.selectedEvents.length)
				if(this.selectedEvents.length==0){
					this.noEventTip='没有未处置事件';
					this.isEventListShow=false;
					this.isNoEventShow=true;
				}else{
					this.isEventListShow=true;
					this.isNoEventShow=false;
				}
				
				
			},
			zcDivClick:function(){//暂存计数div被点击事件
				//js处理li被点击后的样式
				this.wcllstyleObj.background='#F1F1F1'
				this.wcllstyleObj.color=''
				this.wclpObj.color=''
				
				this.zclstyleObj.background='#5D9CEC'
				this.zclstyleObj.color='white'
				this.zcpObj.color='white'
				
				this.wclstyleObj.background='#F1F1F1'
				this.wclstyleObj.color=''
				this.wcpObj.color='' 
				//切换显示的event数据源
				this.selectedEvents=this.eventsStatus1
				this.title='11';
				console.log(this.selectedEvents.length)
				if(this.selectedEvents.length==0){
					this.noEventTip='没有待提交事件'
					this.isEventListShow=false
					this.isNoEventShow=true
				}else{
					this.isEventListShow=true;
					this.isNoEventShow=false;
				}
			},
			wcDivClick:function(){//完成计数div被点击事件
				//js处理li被点击后的样式
				this.wcllstyleObj.background='#F1F1F1'
				this.wcllstyleObj.color=''
				this.wclpObj.color=''
				
				this.zclstyleObj.background='#F1F1F1'
				this.zclstyleObj.color=''
				this.zcpObj.color=''
				
				this.wclstyleObj.background='#5D9CEC'
				this.wclstyleObj.color='white'
				this.wcpObj.color='white' 
				//切换显示的event数据源
				this.selectedEvents=this.eventsStatus2
				this.title='12';
				console.log(this.selectedEvents.length)
				if(this.selectedEvents.length==0){
					this.noEventTip='没有已完成事件'
					this.isEventListShow=false
					this.isNoEventShow=true
				}else{
					this.isEventListShow=true;
					this.isNoEventShow=false;
				}
			},
			getMoreEvent:function(){
				console.log("selectedEvent:"+this.selectedEvents.length)
				 this.managerPage=false;
				this.eventListPage=true;
				this.back_button=true;
				this.title+='s';
			},
			back:function(){
				this.managerPage=true;
				this.eventListPage=false;
				this.back_button=false;
				//去点最后一个字符  s
				var basic=this.title;
				basic = basic.substr(0, basic.length - 1); 
				if(basic=='13'){//刚刚从款台页面跳回的
					//重新从后台获取event数据

					//默认重新加载未处理事件
					basic='10';
					//切换显示的event数据源  到未处理事件
					this.selectedEvents=this.eventsStatus0
				}
				this.title=basic;
				console.log("title:"+this.title)
			},
			showCounterOpt:function(){
				this.counterOption=!this.counterOption;
			},
			toEditCounter:function(){//跳转至 关联款台页面
				this.managerPage=false;
				this.eventListPage=false;
				this.counterOption=false;
				this.back_button=true;
				this.title='13s';
			},
			closeCounterOpt:function(){
				this.counterOption=false;
			},
			loadCounterListData:function(){
				mui.ajax({//向服务器获取款台数据
					url : serverPath+"/getCounterListByShopId/"+this.shopID+'/'+this.usrID,
                    type : 'get',
                    headers: {
                       'Content-Type': 'application/x-www-form-urlencoded'
                  },
                    data : { 
                    	
                    }, 
                    timeout : 10000,
                    success : (data) => {
                    	this.counterList=data.counterList;
                    	this.userCounter=data.userCounter; 
                    	console.log('绑定款台数量：'+this.userCounter.length);
                    	/* for(var i=0;i<this.userCounter.length;i++){
                    		this.counterPicked.push(this.userCounter[i].counterId);
                    	} */
                    	console.log("push："+this.counterPicked.length)
                    	
                    },
                    error : function(xhr,type,errorThrown){
                        console.log(xhr);
                        console.log(type);
                        console.log(errorThrown);
                    }
				});
			}
			

		},
		mounted : function() {
			//alert("vue load ")
			//加载隐藏域中的变量
			this.roleId=roleId;
			this.shopID=shopID; 
			this.areaID=areaID;
			this.usrName=usrName;
			this.usrID=usrID;
			
			console.log("---login action---\nusrID:"+this.usrID+"\nareaID:"+this.areaID+"\nusrName:"+
					this.usrName+"\nshopID:"+this.shopID+"\nroleId:"+this.roleId+"\n---end---")
			
			this.loadEventCount();
			this.loadCounterListData();
			
			
			//alert('load success'+this.usrID)
		},
		filters: {//过滤器
			  getLength: function (value) {
			    return value.length
			  },
			  changeTitle:function(value){//字符串 过滤处理器 根据需要配置
				  
					  if(value==='1'||value==='10'||value==='11'||value==='12'){
						  return '防损事件管理';
					  }
				  
					  if(value==='10s'){
						  //console.log(back_button)
						  return '未处理事件列表';
					  }
					  if(value==='11s'){
						  return '暂存事件列表';
					  }
					  if(value==='12s'){
						  return '完成事件列表';
					  }
					  if(value==='13s'){
						  return '款台列表';
					  }
					  if(value==0){
						  return '传统银台';
					  }
					  if(value==1){
						  return '自助银台';
					  }
					  
					  console.log('当前用户roleId:'+this.roleId);
			  },
			  watchNumChange:function(value){
				  
			  },
			}//过滤器 end
	}) 
</script>

</body>












<script type="text/javascript" charset="utf-8">
//alert(usrID)
	var eventChart = echarts.init(document.getElementById('eventChart'));

	option = {
		title : {
			text : '防损事件',
			show : true,
			textStyle : {
				fontWeight : 'normal',
				fontSize : 15,
			}
		},
		tooltip : {
			trigger : 'axis'
		},
		legend : {
			data : [ '邮件营销' ],
			show : false
		},
		grid : {
			left : '3%',
			right : '4%',
			bottom : '3%',
			containLabel : true,
			show : true
		},
		toolbox : {
			itemSize : 25,
			feature : {
				myTool1 : {
					show : true,
					title : '按月统计',
					icon : 'image://http://localhost:8080/static/img/月.svg',
					onclick : function() {
						//							alert('myToolHandler1')
					}
				},
				myTool2 : {
					show : true,
					title : '按周统计',
					icon : 'image://http://localhost:8080/static/img/周.svg',
					onclick : function() {
						//							alert('myToolHandler2')
					}
				},
				myTool3 : {
					show : true,
					title : '按日统计',
					icon : 'image://http://localhost:8080/static/img/日.svg',
					onclick : function() {
						//							alert('myToolHandler2')
					}
				}
			},

		},
		xAxis : {
			type : 'category',
			boundaryGap : false,
			data : [ '周一', '周二', '周三', '周四', '周五', '周六', '周日' ]
		},
		yAxis : {
			type : 'value'
		},
		series : [ {
			name : '邮件营销',
			type : 'line',
			stack : '总量',
			data : [ 120, 132, 101, 134, 90, 230, 210 ]
		} ]
	};

	//alert(option.toolbox.feature.myTool1.icon)

	//option.toolbox.feature.myTool1.icon='image://'+serverPath+'/static/img/月.svg';
	//option.toolbox.feature.myTool1.icon='image://'+serverPath+'/static/img/周.svg';
	//option.toolbox.feature.myTool1.icon='image://'+serverPath+'/static/img/日.svg';
	//alert(option.toolbox.feature.myTool1.icon)

	eventChart.setOption(option);
</script>






</html>